/*------------- DESKTOP STYLES --------------------*/



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.logo {
    width: 70px;
    height: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-center {
    flex: 1;              
    text-align: center;   
}

nav ul {
    list-style: none;       
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;          
    gap: 20px;              
}
nav ul li a {
    text-decoration: none;  
    color: black;           
    font-weight: bold;      
}




.hero {
    display: grid;
    grid-row: 4;
    width: 50px;
    height: auto;
    background: #ccc;
    margin-bottom: 40px;
    opacity: 70%;
}


footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

/* end desktop style */